/**
 * Styling specific to the 'Person' post type.
 */

// Person archive displays in a basic grid.
.post-type-archive-person {

	.style-grid {
		@include display( flex );
		@include align-items( stretch );
		@include flex-wrap( wrap );
		@include justify-content( center );

		article.type-person {
			@include flex( 1 );
			min-width: 200px;
			margin: calc( #{$gutter-width} / 2 );
		}
	}

	.person-loop {
		.person-thumbnail-container {
			text-align: center;

			img {
				margin: 0 auto;
			}
		}

		h2.entry-title {
			margin: 0;
		}
	}
}

// Single person posts
.single-person {
	ul.person-additional-details {
		margin: 0;
		padding: 0;
		border-left: 1px solid rgba( $primary-color, 0.3 );
		border-right: 1px solid rgba( $primary-color, 0.3 );

		li.person-detail {
			list-style-type: none;
			margin: 0;
			padding: 0.6rem;
			@include display( flex );
			@include justify-content( space-between );

			&:nth-child(odd) {
				background: rgba( $primary-color, 0.06 );
			}

			> span {
				@include flex( auto );

				&.label {
					width: 35%;
				}

				&.detail {
					width: 60%;

					p:first-child {
						margin-top: 0;
					}

					p:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	ul.person-social-media-profiles {
		margin: 0;
		padding: 0;

		li.social-detail {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}


		/**
		 *  If you have SVG icons for social services, e.g. facebook.svg, then
		 *  uncomment the section below to get those implemented on the social profile pages.
		 */

		/*
		overflow: hidden;

		li.social-detail {
			float: left;
			margin: 0.5rem;
		}

		a {
			display: block;

			&.icon {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				height: 2rem;
				width: 2rem;
				opacity: 0.7;

				span.label {
					visibility: hidden;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
		*/

	}
}