/**
 * SCSS file with basic CSS for the different Sections
 */

$hero-min-height: if( variable_exists( hero-min-height ), $hero-min-height, 560px );
$slider-height: if( variable_exists( slider-height ), $hero-min-height, 400px );


/*
 * General Sections styles
 */
section.content-section {
	overflow: hidden;

	&.width-normal {

		& > .section-wrapper {
			margin: 0 auto;

			@if variable_exists( normal-width ) {
				max-width: $normal-width;
			} @else {
				max-width: 1180px;
			}

		}

	}

	&.width-full {
		@if variable_exists( page-padding ) {
			padding: $page-padding;
		} @else {
			padding: 2rem;
		}
	}

	&.scheme-on-dark {
		@include inverse-colors;
	}

	.section-title {
		text-align: center;
	}

	.column {
		@include flex(1);
		img {
			max-width: 100%;
			height: auto;
		}
	}

	> .section-wrapper {
		div > h2 {
			margin-top: 0;
		}
	}
}


/**
 * WYSIWYG section
 */
.content-section.type-wysiwyg {

}


/**
 * Columns section
 */
.content-section.type-columns {

	.columns-wrapper {
		@include display( flex );
		@include justify-content( center );
		@include align-items( stretch );

		// if $gutter-width variable_exists in vars, set the gutter between columns
		@if variable_exists( gutter-width ) {
			div.column ~ div.column {
				margin-left: $gutter-width;
			}
		} @else {
			div.column ~ div.column {
				margin-left: 2rem;
			}
		}
	}

}


/**
 * Image features section
 */
.content-section.type-image_features {

	.features-wrapper {
		@include display( flex );
		@include justify-content( center );
		@include align-items( stretch );

		// if $gutter-width variable_exists in vars.
		@if variable_exists( gutter-width ) {
			div.column ~ div.column {
				margin-left: $gutter-width;
			}
		} @else {
			div.column ~ div.column {
				margin-left: 2rem;
			}
		}

		.feature {
			text-align: center;

			.button-wrapper {
				@if variable_exists( gutter-width ) {
					$button-padding: $gutter-width / 2;
					margin: $button-padding auto;

				} @else {
					margin: 1rem auto;
				}
			}
		}
	}

}


/**
 * Hero section
 */
.content-section.type-hero {

	&.width-full {
		padding: 0;
	}

	.hero {
		min-height: $hero-min-height;
		background-size: cover;
		background-position: center center;
		@if variable_exists( page-padding ) {
			padding: $page-padding;
		} @else {
			padding: 2rem;
		}

		.hero-overlay-container {
			width: 50%;
			float: left;
		}
	}

}


/**
 * Slider section
 */
.content-section.type-slider {

	.slider-wrapper {
		position: relative;

		ul,
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		ul.slider {
			height: $slider-height;
			overflow: hidden;

			li {
				display: block;
				position: relative;
				height: $slider-height;
				width: 100%;

				.slide-image-wrap {
					width: 100%;
					height: 100%;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: 50% 50%;
					}
				}
			}
		}

		.slide-inner {
			position: absolute;
			bottom: 10%;
			width: 100%;
		}

		// Prev/next controls
		.cycle-controls {
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) )
			width: 110%;
			margin: 0 -5%;
			z-index: 101;	// jQuery cycle shouldn't have any slides >100

			button {
				background: rgba( black, 0.3 );
				border: none;
				-webkit-appearance: normal;
				padding: 0;
				// width should be equal to 5% of container so it fits. But we're at 110% of container width.
				max-width: 4.5454%;
				width:  4.5454%;

				&:hover {
					background: rgba( black, 0.6 );
					cursor: pointer;
				}

				&.cycle-prev {
					float: left;
				}

				&.cycle-next {
					float: right;
				}

			}
			.arrow {
				fill: none;
				stroke: rgba( white, 0.7 );
				width: 33.33%;
				height: auto;
				padding: 8px 0;
				display: block;
				margin: auto;
			}
		}

		// The dots
		.cycle-pager {
			position: absolute;
			bottom: 5px;
			left: 50%;
			z-index: 110;
			@include transform( translateX(-50%) );

			& > * {
				@include hide-text;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				display: inline-block;
				background-color: if( variable_exists( primary-color ), $primary-color, white );
				cursor: pointer;
				margin: 0 if( variable_exists( gutter-width ), $gutter-width / 2, 0.5rem );

				&:hover {
					background-color: if( variable_exists( link-hover-color ), $link-hover-color, lighten( black, 30% ) );
				}

				&.cycle-pager-active {
					cursor: default;
					background-color: if( variable_exists( secondary-color ), $secondary-color, black );
				}
			}
		}
	}

	&.width-full {
		padding: 0;

		.cycle-controls {
			width: 100%;
			margin: 0;
		}

		.slide-inner {
			@if variable_exists( page-padding ) {
				padding: $page-padding #{$page-padding * 2};
			} @else {
				padding: 2rem 4rem;
			}
		}
	}
}


/**
 * Content Collection section
 */
.content-section.type-content_collection {

	.style-grid {

	}

	.style-list {

	}

	.style-slider {

	}
}