<?php
/**
 * Implements an 'articles' custom post type along with a taxonomy and template tags.
 *
 * @package Produce
 */

/**
 * Set the behavior for the article_url handler
 */
define( 'CRATE_ARTICLE_URL_HANDLER', '{{url_handling}}' );


/**
 * Register Custom Post Type for 'Article'
 */
function crate_register_article_cpt() {

	$labels = array(
		'name'                  => _x( 'Articles', 'Post Type General Name', 'crate' ),
		'singular_name'         => _x( 'Article', 'Post Type Singular Name', 'crate' ),
		'menu_name'             => __( 'Articles', 'crate' ),
		'name_admin_bar'        => __( 'Article', 'crate' ),
		'archives'              => __( 'Article Archives', 'crate' ),
		'attributes'            => __( 'Article Attributes', 'crate' ),
		'parent_item_colon'     => __( 'Parent Article:', 'crate' ),
		'all_items'             => __( 'All Articles', 'crate' ),
		'add_new_item'          => __( 'Add New Article', 'crate' ),
		'add_new'               => __( 'Add New', 'crate' ),
		'new_item'              => __( 'New Articles', 'crate' ),
		'edit_item'             => __( 'Edit Article', 'crate' ),
		'update_item'           => __( 'Update Article', 'crate' ),
		'view_item'             => __( 'View Article', 'crate' ),
		'view_items'            => __( 'View Articles', 'crate' ),
		'search_items'          => __( 'Search Article', 'crate' ),
		'not_found'             => __( 'Not found', 'crate' ),
		'not_found_in_trash'    => __( 'Not found in Trash', 'crate' ),
		'featured_image'        => __( 'Featured Image', 'crate' ),
		'set_featured_image'    => __( 'Set featured image', 'crate' ),
		'remove_featured_image' => __( 'Remove featured image', 'crate' ),
		'use_featured_image'    => __( 'Use as featured image', 'crate' ),
		'insert_into_item'      => __( 'Insert into article', 'crate' ),
		'uploaded_to_this_item' => __( 'Uploaded to this article', 'crate' ),
		'items_list'            => __( 'Articles list', 'crate' ),
		'items_list_navigation' => __( 'Articles list navigation', 'crate' ),
		'filter_items_list'     => __( 'Filter articles list', 'crate' ),
	);
	$rewrite = array(
		'slug'                  => '{{slug}}', // Configurable via --slug flag when running Produce
		'with_front'            => true,
		'pages'                 => true,
		'feeds'                 => true,
	);
	$args = array(
		'label'                 => __( 'Article', 'crate' ),
		'description'           => __( 'Internal and external articles', 'crate' ),
		'labels'                => $labels,
		'supports'              => array( 'title', 'editor', 'excerpt', 'author', 'thumbnail', 'revisions' ),
		'taxonomies'            => array( 'article-type' ),
		'hierarchical'          => false,
		'public'                => true,
		'show_ui'               => true,
		'show_in_menu'          => true,
		'menu_position'         => 20,
		'menu_icon'             => 'dashicons-format-aside',
		'show_in_admin_bar'     => true,
		'show_in_nav_menus'     => true,
		'can_export'            => true,
		'has_archive'           => true,
		'exclude_from_search'   => false,
		'publicly_queryable'    => true,
		'rewrite'               => $rewrite,
		'capability_type'       => 'post',	// @todo: make this configurable via produce?
		'show_in_rest'          => true,
	);
	register_post_type( 'article', $args );

}
add_action( 'init', 'crate_register_article_cpt', 0 );



/**
 * Register the 'article type' taxonomy and apply it to articles.
 * Also add some key terms
 */
function crate_article_type_taxonomy() {

	$labels = array(
		'name'                       => _x( 'Article Types', 'Taxonomy General Name', 'crate' ),
		'singular_name'              => _x( 'Article Type', 'Taxonomy Singular Name', 'crate' ),
		'menu_name'                  => __( 'Article Types', 'crate' ),
		'all_items'                  => __( 'All Types', 'crate' ),
		'parent_item'                => __( 'Parent Type', 'crate' ),
		'parent_item_colon'          => __( 'Parent Type:', 'crate' ),
		'new_item_name'              => __( 'New Type', 'crate' ),
		'add_new_item'               => __( 'Add New Type', 'crate' ),
		'edit_item'                  => __( 'Edit Type', 'crate' ),
		'update_item'                => __( 'Update Type', 'crate' ),
		'view_item'                  => __( 'View Article Type', 'crate' ),
		'separate_items_with_commas' => __( 'Separate items with commas', 'crate' ),
		'add_or_remove_items'        => __( 'Add or remove types', 'crate' ),
		'choose_from_most_used'      => __( 'Choose from the most used', 'crate' ),
		'popular_items'              => __( 'Popular Types', 'crate' ),
		'search_items'               => __( 'Search Types', 'crate' ),
		'not_found'                  => __( 'Not Found', 'crate' ),
		'no_terms'                   => __( 'No items', 'crate' ),
		'items_list'                 => __( 'Items list', 'crate' ),
		'items_list_navigation'      => __( 'Items list navigation', 'crate' ),
	);
	$args = array(
		'labels'                     => $labels,
		'hierarchical'               => true,
		'public'                     => true,
		'show_ui'                    => true,
		'show_admin_column'          => true,
		'show_in_nav_menus'          => true,
		'show_tagcloud'              => false,
		'show_in_rest'               => true,
	);
	register_taxonomy( 'article-type', array( 'article' ), $args );

	// Setup default terms if none are present. Configured via --types flag when running Produce
	$terms = array( {{terms}} );

	if ( ! wp_count_terms( 'article-type' ) ) {

		foreach ( $terms as $term ) {

			wp_insert_term( $term, 'article-type' );

		}

	}

}
add_action( 'init', 'crate_article_type_taxonomy', 0 );


/**
 * Get the type(s) of a given article.
 *
 * @param int|object $post The ID or object of the post to return the type of.
 * @param bool $all Whether to return just the first term, or all (default: false).
 * @return string|array A string of the name of the article type, or an array if returning all types.
 */
function crate_get_article_type( $post = 0, $all = false ) {

	$post = get_post( $post );

	if ( empty( $post->ID ) ) {
		return false;
	}

	$terms = get_the_terms( $post->ID, 'article-type' );

	if ( is_wp_error( $terms ) ) {
		return false;
	}

	if ( $all ) {
		return wp_list_pluck( $terms, 'name' );
	}	else {
		return $terms[0]->name;
	}

}


/**
 * Echo the type(s) of the provided article post, or of global $post.
 *
 * @param int|object $post The ID or object of the post to return the type of.
 * @param bool $all (default: false) Whether to return just the first term, or all.
 * @return void
 */
function crate_article_type( $post = 0, $all = false, $separator = ', ' ) {

	$terms = crate_get_article_type( $post, $all );

	if ( is_string( $terms ) ) {
		echo $terms;
	} else if ( is_array( $terms ) ) {
		echo implode( $separator, $terms );
	}

}


/**
 * Filter the post permalink url on public pages to use the article_url field.
 */
function crate_rewrite_article_url( $url, $post ) {

	if ( ! is_admin() && 'article' === get_post_type( $post ) && get_field( 'article_url', $post ) ) {
		return esc_url( get_field( 'article_url', $post ) );
	}
	return $url;
}


/**
 * Redirect a single article post to its originating URL
 */
function crate_redirect_article_url() {
	if ( is_singular( 'article' ) && get_field( 'article_url' ) ) {
		wp_redirect( esc_url( get_field( 'article_url' ) ), 301 );
		exit();
	}
}


/**
 * Determine our article URL handling
 */
switch ( CRATE_ARTICLE_URL_HANDLER ) {

	case 'rewrite':
		add_filter( 'post_type_link', 'crate_rewrite_article_url', 10, 2 );
		break;

	case 'redirect':
		add_action( 'template_redirect', 'crate_redirect_article_url' );
		break;

	case 'both':
		add_filter( 'post_type_link', 'crate_rewrite_article_url', 10, 2 );
		add_action( 'template_redirect', 'crate_redirect_article_url' );
		break;

}
