<?php
/**
 * Implements an 'people' custom post type along with a taxonomy and template tags.
 *
 * @package Produce
 */


/**
 * Register the CPT for 'person'.
 */
function crate_register_person_cpt() {

	/**
	 * Custom Post Type: Person
	 */

	$labels = array(
		'name'                => _x( 'People', 'Post Type General Name', 'text_domain' ),
		'singular_name'       => _x( 'Person', 'Post Type Singular Name', 'text_domain' ),
		'menu_name'           => __( 'People', 'text_domain' ),
		'parent_item_colon'   => __( '', 'text_domain' ),
		'all_items'           => __( 'All people', 'text_domain' ),
		'view_item'           => __( '', 'text_domain' ),
		'add_new_item'        => __( 'Add new person', 'text_domain' ),
		'add_new'             => __( 'Add new person', 'text_domain' ),
		'edit_item'           => __( 'Edit person', 'text_domain' ),
		'update_item'         => __( 'Update person', 'text_domain' ),
		'search_items'        => __( 'Search all people', 'text_domain' ),
		'not_found'           => __( 'No people found', 'text_domain' ),
		'not_found_in_trash'  => __( 'No people found in trash', 'text_domain' ),
	);
	$args = array(
		'label'               => __( 'people', 'text_domain' ),
		'description'         => __( 'People', 'text_domain' ),
		'labels'              => $labels,
		'supports'            => array( 'title', 'editor', 'excerpt' ),
		// 'taxonomies'          => array( 'category' ), // uncomment to add global categories
		'hierarchical'        => false,
		'public'              => true,
		'show_ui'             => true,
		'show_in_menu'        => true,
		'show_in_nav_menus'   => true,
		'show_in_admin_bar'   => true,
		'menu_position'       => 4,
		'menu_icon'           => 'dashicons-groups',
		'rewrite'             => array( 'slug' => '{{slug}}' ),
		'can_export'          => true,
		'has_archive'         => true,
		'exclude_from_search' => false,
		'publicly_queryable'  => true,
		'capability_type'     => 'post',
	);

	// NEVER USE 'action' HERE, IT'S A RESERVED WORD
	register_post_type( 'person', $args );

}
add_action( 'init', 'crate_register_person_cpt', 0 );


/**
 * Custom Taxonomy for Person CPT: Groups
 */
function crate_taxonomies_person_group() {

	// Register the taxonomy
	register_taxonomy(
		'{{tax_name}}',		// Taxonomy machine name.
		'person',		      // Post types supported, can be array('post', 'page' ... )
		array(			      // Labels. See http://codex.wordpress.org/Function_Reference/register_taxonomy for full details.
			'label'        => __( '{{tax_label}}', 'crate' ),
			'rewrite'      => array( 'slug' => '{{tax_name}}' ),
			'hierarchical' => true,
		)
	);

	// Setup default terms if none are present but some were provided. Configured via --groups flag when running Produce
	$terms = array( {{terms}} );

	if ( ! wp_count_terms( '{{tax_name}}' ) ) {

		foreach ( $terms as $term ) {

			wp_insert_term( $term, '{{tax_name}}' );

		}

	}

}
add_action( 'init', 'crate_taxonomies_person_group' );


/**
 * Modify the post edit screen's title field placeholder
 */
function crate_change_person_post_type_title_text( $title ) {
	$screen = get_current_screen();

	if ( 'person' === $screen->post_type ) {
		$title = 'Enter person\'s full name';
	}

	return $title;
}
add_filter( 'enter_title_here', 'crate_change_person_post_type_title_text' );


/**
 * On post save, map values from 'person_short_bio' and 'person_photo'
 * to WordPress's native excerpt and featured image fields, respectively
 */
function crate_person_proxy_fields( $post_id ) {

	// bail if not a person
	if ( 'person' !== get_post_type( $post_id ) ) {
		return;
	}

	// bail if this is not a normal save
	if ( ( defined( 'DOING_AUTOSAVE' ) && DOING_AUTOSAVE ) ||
		( defined( 'DOING_AJAX' ) && DOING_AJAX ) ||
		( defined( 'DOING_CRON' ) && DOING_CRON ) ) {
			return;
	}

	$bio   = strip_tags( get_field( 'person_short_bio', $post_id ) );
	$thumb = get_field( 'person_photo', $post_id );

	if ( $bio ) {
		$the_post = array(
			'ID' => $post_id,
			'post_excerpt' => $bio,
		);

		// update the excerpt
		wp_update_post( $the_post );
	}

	if ( is_integer( $thumb ) ) {
		set_post_thumbnail( $post_id, $thumb );
	}

}
add_action( 'acf/save_post', 'crate_person_proxy_fields', 15 );


/**
 * ------ Template Tags for person element display ----- **
 */

/**
 * Display Additional Fields (repeater field)
 *
 * @return string
 */
function crate_person_display_additional_fields() {

	$output = '';

	// Displaying additional fields if the profile type is not  set to 'simple'
	// If a profile is set to 'simple' the fields won;t be output, even if empty.
	if ( have_rows( 'person_additional_fields' ) && get_field( 'simple_or_extended_profile' ) !== 'simple' ) :

		$output = '<ul class="person-additional-details">';

		while ( have_rows( 'person_additional_fields' ) ) :

			the_row();

			$output .= sprintf(
				'<li class="row person-detail">
					<span class="label">%s</span>
					<span class="detail">%s</span>
				</li>',
				esc_html( get_sub_field( 'detail_label' ) ),
				wp_kses_post( get_sub_field( 'detail_content' ) )
			);

		endwhile;

		$output .= '</ul>';

	endif;

	return $output;
}


/**
 * Display basic contact information of a person.
 *
 * @return string
 */
function crate_person_display_contact_information() {

	$output = '';

	// display basic contact info
	if ( get_field( 'person_email_address' ) || get_field( 'person_phone_number' ) || get_field( 'person_fax' ) ) :

		$output .= '<div class="person-contact-information">';

		$output .= ( get_field( 'person_email_address' ) ) ? '<div class="person-email row"><span class="label">Email: </span><span class="detail"><a href="mailto:' . get_field( 'person_email_address' ) . '">' . get_field( 'person_email_address' ) . '</a></span></div>' : '';
		$output .= ( get_field( 'person_phone_number' ) ) ? '<div class="person-phone row"><span class="label">Phone: </span><span class="detail">' . get_field( 'person_phone_number' ) . '</span></div>' : '';
		$output .= ( get_field( 'person_fax' ) ) ? '<div class="person-phone row"><span class="label">Fax: </span><span class="detail">' . get_field( 'person_fax' ) . '</span></div>' : '';

		$output .= '</div>';
	endif;

	return $output;
}


/**
 * Display Social Media Links (repeater field)
 *
 * @return string
 */
function crate_person_display_social_media_profiles() {

	$output = '';

	// displaying social media links (repeater)
	if ( have_rows( 'person_social_media' ) ) :

		$output = '<ul class="person-social-media-profiles">';

		while ( have_rows( 'person_social_media' ) ) :

			the_row();

			$output .= sprintf(
				'<li class="row social-detail %s">
					<a href="%s" class="icon icon-%s">
					<span class="label">%s</span>
					</a>
				</li>',
				esc_html( strtolower( get_sub_field( 'service' ) ) ),
				esc_url( get_sub_field( 'profile_link' ) ),
				esc_html( strtolower( get_sub_field( 'service' ) ) ),
				esc_html( ucfirst( get_sub_field( 'service' ) ) )
			);

		endwhile;

		$output .= '</ul>';

	endif;

	return $output;
}

/**
 * Display Link to Associated User's author page.
 *
 * @return mixed
 */
function crate_person_display_author_posts_link() {
	$user_array = get_field( 'person_associated_user' );
	return esc_url( get_author_posts_url( $user_array['ID'] ) );
}


/**
 * Smarter display of Person Name.
 * if a first name is added in the extended profile, it will display that instead of the title (full name)
 *
 * @return mixed
 */
function crate_person_display_name() {

	if ( get_field( 'person_first_name' ) ) :
		$output = esc_html( get_field( 'person_first_name' ) );
	else :
		$output = esc_html( get_the_title() );
	endif;

	return $output;
}
