<?php

/**
 * This is a template file for something, but run through mustache templating.
 */

?>


<main>
	<h1><?php the_title(); ?></h1>

	<div style="color: {{color}};">This text is the color identified during generation.</div>
</main>