[
	{
		"key": "group_58c7c5960ba62",
		"title": "Term Fields",
		"fields": [
			{
				"key": "field_58c7c67158fd2",
				"label": "Description",
				"name": "term_description",
				"type": "wysiwyg",
				"instructions": "",
				"required": 0,
				"conditional_logic": 0,
				"wrapper": {
					"width": "100",
					"class": "",
					"id": ""
				},
				"default_value": "",
				"tabs": "all",
				"toolbar": "basic",
				"media_upload": 1,
				"delay": 0
			},
			{
				"key": "field_58c7d16f58fdc",
				"label": "Featured Image",
				"name": "term_featured_image",
				"type": "image",
				"instructions": "Optional.",
				"required": 0,
				"conditional_logic": 0,
				"wrapper": {
					"width": "",
					"class": "",
					"id": ""
				},
				"return_format": "id",
				"preview_size": "medium",
				"library": "all",
				"min_width": "",
				"min_height": "",
				"min_size": "",
				"max_width": "",
				"max_height": "",
				"max_size": "",
				"mime_types": "png,jpg,gif,svg"
			},
			{
				"key": "field_58c7d12a58fdb",
				"label": "Term Icon",
				"name": "term_icon",
				"type": "select",
				"instructions": "Optionally specify an icon for this term. Choices are pulled from the theme's SVG directory.",
				"required": 0,
				"conditional_logic": 0,
				"wrapper": {
					"width": "",
					"class": "",
					"id": ""
				},
				"choices": {
					"dropdown-arrow": "Dropdown arrow <img src='http:\/\/wordpress.ben.cshp.co\/cms\/assets\/themes\/crate\/_src\/img\/svg\/dropdown-arrow.svg' style='vertical-align:middle;max-height:24px;width:auto;max-width:24px;'>",
					"rocking-chair": "Rocking chair <img src='http:\/\/wordpress.ben.cshp.co\/cms\/assets\/themes\/crate\/_src\/img\/svg\/rocking-chair.svg' style='vertical-align:middle;max-height:24px;width:auto;max-width:24px;'>"
				},
				"default_value": [],
				"allow_null": 0,
				"multiple": 0,
				"ui": 1,
				"ajax": 1,
				"return_format": "value",
				"placeholder": ""
			},
			{
				"key": "field_58c7c6d658fd3",
				"label": "Term Color",
				"name": "term_color",
				"type": "color_picker",
				"instructions": "Optionally specify a color for this term.",
				"required": 0,
				"conditional_logic": 0,
				"wrapper": {
					"width": "",
					"class": "",
					"id": ""
				},
				"default_value": ""
			},
			{
				"key": "field_594044170887e",
				"label": "Hide Description",
				"name": "",
				"type": "message",
				"instructions": "",
				"required": 0,
				"conditional_logic": 0,
				"wrapper": {
					"width": "",
					"class": "",
					"id": ""
				},
				"message": "This field is used to remove the WP default non-WYSIWYG \"Description\" field, and also to hide itself.\r\n<style>\r\n .acf-field-594044170887e { display: none; visibility: hidden; }\r\n<\/style>\r\n<script>jQuery(function($) { $('textarea#description').closest('tr.form-field').remove(); });<\/script>",
				"new_lines": "",
				"esc_html": 0
			}
		],
		"location": [
				{{#taxonomies}}
				[
					{
						"param": "taxonomy",
						"operator": "==",
						"value": "{{taxonomy}}"
					}
				],
				{{/taxonomies}}
				{{^taxonomies}}
				[
					{
						"param": "taxonomy",
						"operator": "==",
						"value": "category"
					}
				],
				{{/taxonomies}}
				[]
		],
		"menu_order": 0,
		"position": "acf_after_title",
		"style": "seamless",
		"label_placement": "top",
		"instruction_placement": "label",
		"hide_on_screen": "",
		"active": 1,
		"description": "",
		"modified": 1497986810
	}
]