<?php
/**
 *
 *  Taxonomy term ACF field settings and behaviors from Produce
 */

define( 'CRATE_TERM_ICON_PATH', '{{iconpath}}' );

/**
 *  Automatically populating the "term_icon" field with the SVG directory files
 */
function crate_acf_load_term_icon_choices( $field ) {

	$the_icon_path = get_template_directory() . CRATE_TERM_ICON_PATH;
	$the_icon_array = array_diff( scandir( $the_icon_path ), array( '..', '.' ) );
	$the_icon_array = array_map( function ( $e ) {
		return pathinfo( $e, PATHINFO_FILENAME );
	}, $the_icon_array );

	// reset choices
	$field['choices'] = array();

	// remove any unwanted white space
	$the_icon_array = array_map( 'trim', $the_icon_array );

	// loop through array and add to field 'choices'
	if ( is_array( $the_icon_array ) ) {

		foreach ( $the_icon_array as $the_icon ) {

			$svg_url = get_template_directory_uri() . CRATE_TERM_ICON_PATH . $the_icon . '.svg';
			$friendly_icon_name = ucfirst( str_replace( array( '-', '_' ), ' ', $the_icon ) );
			$field['choices'][ $the_icon ] = $friendly_icon_name . " <img src='$svg_url' style='vertical-align:middle;max-height:24px;width:auto;max-width:24px;'>";

		}
	}

	// return the field
	return $field;

}
add_filter( 'acf/load_field/name=term_icon', 'crate_acf_load_term_icon_choices' );


/**
 * Grab the ACF 'term_description' field's value when looking for the WP 'description' field, if WP's is empty and ours is present
 */
function crate_map_term_description_field( $value, $term_id, $taxonomy, $context ) {

	// Make sure the description is empty. If it's not, then don't mess with it.
	if ( empty( $value ) && ! empty( get_field( 'term_description', 'term_' . $term_id ) ) ) {
		$value = get_field( 'term_description', 'term_' . $term_id );
	}

	return $value;
}
add_filter( 'term_description', 'crate_map_term_description_field', 10, 4 );
